#about {
  gap: 38px;
  #banner {
    img {
      filter: brightness(0.7);
    }
  }
  #aboutCollapses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    @media (max-width: 810px) {
      gap: 19px;
    }
  }
}
