#housing, #housing-description, #housing-host, #housing-hostDescription, #housing-collapses{
    display:flex;
}
#housing-description, #housing-collapses{
    justify-content: space-between;
    width:100%;
}
#housing {
    gap:30px;
    @media (max-width: 510px) {
        gap:10px;
    }
    #housing-description {
        @media (max-width: 665px) {
            flex-direction: column;
        }
        h1 {
            color: #FF6060;
            font-size: 36px;
            font-weight: 500;
            line-height: 51.34px;
            margin: 0;
            @media (max-width: 665px) {
                font-size: 18px;
                line-height: 25.67px;
            }
        }
        span {
            font-size: 18px;
            line-height: 25.67px;
            @media (max-width: 665px) {
                font-size: 14px;
            }
        }
    }
    #housing-host {
        margin-top:0;
        align-items: center;
        @media (max-width: 665px) {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        #housing-hostDescription {
            justify-content:flex-end;
            gap:10px;
            align-items: center;
            @media (max-width: 665px){
                margin:0;
            }  
            p {
                width:80px;
                color: #FF6060;
                font-size: 18px;
                line-height: 25.67px;
                text-align: right;
                @media (max-width: 665px){
                    width: 50px;
                    font-size: 12px;
                    line-height: 17.11px;
                    margin:0;
                } 
            }
            img {
                border-radius: 50%;
                width: 64px;
                height: 64px;
                @media (max-width: 665px){
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    #housing-collapses {
        gap:76px;
        @media (max-width: 665px) {
            flex-direction: column;
            gap:20px;
        }
    }
}
