#housing-collapses {
    display:flex;
    justify-content: space-between;
    width:100%;
    gap:76px;
}
#housing-description {
    display:flex;
    justify-content: space-between;
    width:100%;
}
#housing-title {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    margin: 0;
}
#housing-location{
    font-size: 18px;
    line-height: 25.67px;
}
#housing-host{
    margin-top:0;
}
#housing-hostDescription{
    display: flex;
    justify-content:end;
    gap:10px;
    align-items: center;
    margin-bottom: 15px;
}
#housing-hostName{
    width:80px;
    color: #FF6060;
    font-size: 18px;
    line-height: 25.67px;
    text-align: right; 
}
#housing-hostAvatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}