.tagsList{
    display: flex;
    padding: 0px;
    margin: 23px 0;
    width: 100%;
    @media (max-width: 550px){
        margin: 5px 0;

    }
}

.tagList-item{
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 14px;
    color: white;
    background-color: #FF6060; 
    padding: 3px 20px;
    margin: 0 15px 0 0;
    border-radius: 7px;
    @media (max-width: 550px){
        height: 18px;
        margin-right: 10px;
    }
}