.card {
    display: flex;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}
.card :hover{
    cursor: pointer;
}  
.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card h2{
    display: flex;
    width:12%;
    font-weight: 700;
    position: absolute;
    color: white;
    margin-top: 300px;
    margin-left: 20px;
    font-size: 18px;
}