.card{
    display: flex;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}
.card:hover{
    cursor:pointer;
}  
.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card h2{
    width:290px;
    font-weight: 700;
    position: absolute;
    color: white;
    margin-top: 290px;
    margin-left: 20px;
    font-size: 18px;
}