.carrousel{
    display: flex;
    transition: transform .5s ease;
    width: 100%;
    height: 415px;
}
#carrousel-picture {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
#carrousel-controls{
    display: flex;
    width:1240px;
    height:79.2px;
    top:350px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
#carrousel-arrowLeft, #carrousel-arrowRight {
    cursor: pointer;
}
#carrousel-index{
    position: absolute;
    left: 50%;
    font-size: 18px;
    top: 500px;
    color: white;
}   