.collapse{
    display: flex;
    flex-direction: column;
    width:85%;
    height: 52px;
    background-color: #FF6060;
    border-radius: 10px;
    cursor: pointer;
    
}
.collapse-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 12px 15px;
}
.collapse h2{
    margin: 0;
    font-weight: 700; 
}
.collapse-arrow {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}
.reverse{
    transform: rotate(-180deg);
    transition: 0.3s ease-in-out;
}
.collapse-content{
    height: auto;
    color: black;
    background-color: #F7F7F7;
    border-radius: 10px;
    overflow: auto;  
}
