.navList{
    display:flex;
    gap: 57px;
    padding-inline-start: 0;
}
.navList-item{
    font-weight: 500;
    font-size: 24px;
}
.navList-item :focus {
    text-decoration-line: underline;
    text-underline-offset: 5px;

}
@media (max-width: 768px){
    .navList {
        gap:26px;
    }
    .navList-item {
    font-size: 12px;
    text-transform: uppercase;
    } 
}