@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

#root-body, main {
  display: flex;
  flex-direction: column;
}
body, #root, #root-body {
  height:100vh
} 
body {
  max-width: 1440px;
  min-width: 375px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  #root-body {
    align-items: center;
    width: 100%;
    gap: 50px;
    @media (max-width: 510px) {
      gap: 27px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    li {
      list-style: none;
    }
    main {
      justify-content: center;
      width: 86%;
      min-width: 335px;
      @media (max-width: 510px) {
        gap: 19px;
      }
    }
  }
}
