@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
  max-width: 1440px;
  min-width:375px;
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
#root-body {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding-top: 45px;
  gap: 50px;
  @media (max-width: 510px) {
      padding-top: 20px;
      gap:27px;
  }
}
main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:86%;
  min-width:335px;
  @media (max-width: 510px) {
    gap:19px;
  }
}
