.banner {
    display:flex;
    justify-content: center;
    height: 223px;
    background: rgba(0,0,0,.8);
    border-radius: 25px;
    @media (max-width: 768px){
        min-width: 375px;
    } 
}
.banner img {
    object-fit:cover;
    border-radius: 25px;
    opacity: 0.6;
    filter:brightness(0.5); 
}
.banner h1{
    margin: 85px;
    position: absolute;
    z-index: 3;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    @media (max-width: 768px){
        font-size: 24px;
        text-align: left;
        font-weight: 700;
    }
}